In [1]:
import pandas as pd
import numpy as np
import plotly
from plotly import graph_objects as go
from dbm import DBM

In [2]:
dbm = DBM(user='kenny.liao')

In [7]:
dpd=7

In [8]:
sql=f"""
select 
    (TO_CHAR(DATE_TRUNC('month', (LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ) ), 'YYYY-MM')) as "Local Disbursement Month",
    count(LOAN_APPLICATION_ID) as "Active Count ({dpd}dpd)"
from 
    business_db.credit.loan_basic_mx as loans
where 
    still_owed > 0 
and datediff(day, local_due_date, convert_timezone('America/Mexico_City', current_timestamp())) <{dpd}
and LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ >= TO_TIMESTAMP('09/01/2020')

group by
    TO_CHAR(DATE_TRUNC('month', (LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ) ), 'YYYY-MM')
"""

results = dbm.query_db(sql)

In [9]:
results = results.sort_values('Local Disbursement Month').reset_index(drop=True)

In [10]:
results

   Local Disbursement Month  Active Count (7dpd)
0                   2020-09                 2078
1                   2020-10                 2966
2                   2020-11                 2521
3                   2020-12                 1928
4                   2021-01                 3482
5                   2021-02                 5381
6                   2021-03                 6000
7                   2021-04                 5364
8                   2021-05                 3940
9                   2021-06                 4083
10                  2021-07                 4314
11                  2021-08                 4546
12                  2021-09                 5206
13                  2021-10                10219
14                  2021-11                 9458
15                  2021-12                 5767
16                  2022-01                 7318
17                  2022-02                 7793
18                  2022-03                10789
19                  2022-04                14137
20                  2022-05                24050
21                  2022-06                47528
22                  2022-07                 7492