In [19]:
import pandas as pd
import numpy as np
import plotly
from plotly import graph_objects as go

from base import DataManager
from dbm import DBM
from pyltv2 import PowerSlope, Rolling

In [20]:
mx_data = pd.read_csv('data/mx_6-7.csv')

In [ ]:
m = DataManager(mx_data, market='mx')

In [ ]:
m.plot_cohorts('default_rate_7dpd', 'clean')

In [ ]:
backtest_months = 6
weights=[.5, .25]

In [ ]:
m1 = PowerSlope(mx_data, market='mx')
m1.forecast = m1.forecast_data(m1.data)
m1.backtest, m1.backtest_report = m1.backtest_data(m1.data, hold_months=backtest_months, 
                                                   min_months=5)

In [ ]:
m2 = Rolling(mx_data, market='mx')
m2.forecast = m2.forecast_data(m2.data)
m2.backtest, m2.backtest_report = m2.backtest_data(m2.data, hold_months=backtest_months, 
                                                   min_months=5, weights=weights)

In [ ]:
m1.plot_cohorts('default_rate_7dpd-me', 'backtest_report')

In [ ]:
m2.plot_cohorts('default_rate_7dpd-me', 'backtest_report')

In [ ]:
cols = [c for c in m1.backtest_report.columns if 'default' in c and 'mape' in c]

m1.backtest_report[cols].mean().sort_values(ascending=False)[:10]

In [ ]:
cols = [c for c in m2.backtest_report.columns if 'default' in c and 'mape' in c]

m2.backtest_report[cols].mean().sort_values(ascending=False)[:10]

In [ ]:
m1.plot_cohorts('default_rate_7dpd', 'backtest')

In [ ]:
m2.plot_cohorts('default_rate_7dpd', 'backtest')

In [21]:
dbm = DBM(user='kenny.liao')

In [30]:
sql="""
select 
    (TO_CHAR(DATE_TRUNC('month', (LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ) ), 'YYYY-MM')) as "Local Disbursement Month",
    count(LOAN_APPLICATION_ID)
from 
    business_db.credit.loan_basic_mx as loans
where 
    still_owed > 0 
and datediff(day, local_due_date, convert_timezone('America/Mexico_City', current_timestamp())) <7
and LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ >= TO_TIMESTAMP('09/01/2020')

group by
    TO_CHAR(DATE_TRUNC('month', (LOCAL_FIRST_LOAN_DISBURSED_TIME::TIMESTAMP_NTZ) ), 'YYYY-MM')
"""

results = dbm.query_db(sql)

In [33]:
results = results.sort_values('Local Disbursement Month').reset_index(drop=True)

In [34]:
results.drop('inde')

    index Local Disbursement Month  COUNT(LOAN_APPLICATION_ID)
0      15                  2020-09                        2025
1      14                  2020-10                        2849
2      17                  2020-11                        2501
3      21                  2020-12                        1888
4      20                  2021-01                        3414
5       8                  2021-02                        5368
6       3                  2021-03                        5954
7       7                  2021-04                        5293
8      13                  2021-05                        3894
9       0                  2021-06                        4127
10     19                  2021-07                        4273
11     18                  2021-08                        4603
12      2                  2021-09                        5225
13      1                  2021-10                       10386
14     12                  2021-11                        9610
15      6                  2021-12                        5948
16      9                  2022-01                        7746
17     16                  2022-02                        8357
18     11                  2022-03                       11650
19      4                  2022-04                       15785
20     10                  2022-05                       30105
21      5                  2022-06                       25381

In [24]:
results.loc[3]

IS_ATLAS                                                       True
LOAN_APPLICATION_ID                                 844424938959911
PERSON_ID                                           844424936709743
SURVEY_INSTANCE_ID                                                1
LOCAL_APPLICATION_TIME             2022-05-13 20:35:51.668061-05:00
LOCAL_DISBURSEMENT_TIME                   2022-05-13 21:21:51-05:00
LOAN_NUMBER                                                       1
LOC_LOAN_NUMBER                                                   0
STATUS                                                           13
LOAN_STATUS                                                    LATE
LOAN_TYPE_ID                                                1009054
REPAYMENT_STRATEGY                                             None
TARGET_REPAYMENT_DATE                                          None
CONSTANT_DAILY_INTEREST_RATE                                   None
DAYS_BORROWED                                                    34
LOCAL_ORIGINAL_DUE_DATE                                  2022-06-12
LOCAL_DUE_DATE                                           2022-06-12
AMOUNT                                                        500.0
INTEREST_RATE                                                  24.0
INSTALLMENT_COUNT                                                 1
INSTALLMENT_PERIOD                                               30
TOTAL_EXTENSION_PERIOD                                            0
ROLLOVER_FEE_CHARGED                                          63.92
ROLLOVER_FEE_REVERSED                                           0.0
INTEREST_FEE                                                  120.0
TAX_FEE                                                        19.2
PROCESSING_FEE                                                  0.0
GENERAL_FEE                                                     0.0
TOTAL_FEES                                                    139.2
INTEREST_ASSESSED                                             120.0
TOTAL_RECEIVABLE                                             703.12
STILL_OWED                                                   703.12
TOTAL_PAID                                                      0.0
AMOUNT_PAID                                                     0.0
DISCOUNT_APPLIED                                                0.0
LOCAL_LAST_PAYMENT_TIME                                        None
LOCAL_PAID_OFF_TIME                                            None
PREVIOUS_LOAN_AMOUNT                                            NaN
LOCAL_REPEAT_TIME                                              None
LOCAL_FIRST_LOAN_DISBURSED_TIME           2022-05-13 21:21:51-05:00
LOCAL_PREV_LOAN_DISBURSED_TIME                                  NaT
LOCAL_PREV_LOAN_DUE_DATE                                       None
LOCAL_PREV_LOAN_REPAID_TIME                                     NaT
DAYS_SINCE_FIRST_LOAN_DISBURSED                                   0
DAYS_SINCE_PREV_LOAN_DISBURSED                                  NaN
DAYS_SINCE_PREV_LOAN_REPAID                                     NaN
DAYS_PAID_PREV_LOAN_AFTER_DD                                    NaN
NEXT_LOCAL_APPLICATION_TIME                                    None
NEXT_APPLICATION_DECISION                                      None
NEXT_APPLICATION_STATUS                                        None
FUNDING_SOURCE                                                 None
NUMBER_OF_PAYMENTS                                                0
CREDIT_SCORE                                                 0.7731
MODEL_VERSION                                   gambit.mx.4.0.atlas
NOTES                                                          None
LOCAL_WRITEOFF_DATE                                            None
WRITEOFF_AMOUNT                                                 0.0
REPAID_AFTER_WRITEOFF                                           0.0
LEGACY_PERSON_ID                                               None
LAST_UPDATE                        2022-06-16 19:07:52.537000+00:00
Name: 3, dtype: object